.pro {
    padding-top: 80px;
}

.pro_title {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
}

.pro_subtitle {
    width: 1049px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
}

.pro_card_wrapper {
    padding-top: 38px;
    padding-bottom: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    gap: 25px;
}

.pro_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 385px;
    /* height: 290px; */
    padding: 23px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}

.pro_img_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.pro_tochki {
    font-weight: 900;
    color: rgb(32, 177, 90);
    font-size: 50px;
}

.pro_card_subtitle {
    width: 345px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
}

@media(max-width:1280px) {
    .container {
        padding: 0 40px;
    }

    .pro_card_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:1130px) {
    .pro_card_subtitle {
        width: 100%;
    }

    .pro_subtitle {
        width: 90%;
        font-size: 17px;
    }
}

@media(max-width:880px) {
    .pro_card_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pro_title {
        font-size: 25px;
    }

    .pro_card {
        width: 100%;
    }

}