.video_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 370px;
    border-radius: 12px;
    background: #000;
    margin-top: 50px;
    position: relative;
}

.video_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video_title {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 65px;
}

.video_suptitle {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0%;
}

.play {
    display: flex;
    width: 50px;
    height: 50px;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 40%;
}
.none {
    display: none;
}
.viteo {
    width: 100%;
    height: auto;
    display: block;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    /* width: 280px;
    height: 370px; */
    object-fit: cover;
}

.mySwiper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:880px) {

    .video_wrapper {
        display: flex;
    }

    .video_title {
        font-size: 25px;
    }

    .video_suptitle {
        font-size: 17px;
    }

}